<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Play Jeopardy!" %}



<!- This is a replacement block for Body in base.html -->
{% block body %}



<!-- Make Jeopardy Table -->

<table>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
    </tr>
    <tr>
        <td>$200</td>
        <td>$200</td>
        <td>$200</td>
        <td>$200</td>
        <td>$200</td>
        <td>$200</td>
        <td>$200</td>
      </tr>
      <tr>
        <td>$300</td>
        <td>$300</td>
        <td>$300</td>
        <td>$300</td>
        <td>$300</td>
        <td>$300</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>$400</td>
        <td>$400</td>
        <td>$400</td>
        <td>$400</td>
        <td>$400</td>
        <td>$400</td>
        <td>$400</td>
      </tr>
      <tr>
        <td>$500</td>
        <td>$500</td>
        <td>$500</td>
        <td>$500</td>
        <td>$500</td>
        <td>$500</td>
        <td>$500</td>
      </tr>
      <tr>
        <td>$600</td>
        <td>$600</td>
        <td>$600</td>
        <td>$600</td>
        <td>$600</td>
        <td>$600</td>
        <td>$600</td>
      </tr>
      <tr>
        <td>$700</td>
        <td>$700</td>
        <td>$700</td>
        <td>$700</td>
        <td>$700</td>
        <td>$700</td>
        <td>$700</td>
      </tr>
  </table>


{% endblock %}