<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Play Jeopardy!" %}



<!- This is a replacement block for Body in base.html -->
{% block body %}



<!-- Make Jeopardy Table styles borrowed from W3Schools -->
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

button.center {
  position: absolute;
  bottom: 40%;
  right: 50%;
}

/* makes submit button green */
.form-container .submit {
  background-color: rgb(12, 198, 12);
}

/* positioning of question form */
.form-question {
  display: none;
  position: fixed;
  bottom: 25%;
  right: 45%;
  border: 3px solid rgb(0, 0, 0);
}

.form-correct {
  display: none;
  position: fixed;
  bottom: 25%;
  right: 45%;
  border: 3px solid rgb(0, 0, 0);
}


.form-incorrect {
  display: none;
  position: fixed;
  bottom: 25%;
  right: 45%;
  border: 3px solid rgb(0, 0, 0);
}

/* positioning of player forms */
.form-player1 {
  display: none;
  position: fixed;
  bottom: 1.25%;
  right: 80%;
  border: 3px solid rgb(0, 0, 0);
}

.form-player2 {
  display: none;
  position: fixed;
  bottom: 1.25%;
  right: 45%;
  border: 3px solid rgb(0, 0, 0);
}

.form-player3 {
  display: none;
  position: fixed;
  bottom: 1.25%;
  right: 10%;
  border: 3px solid rgb(0, 0, 0);
}

</style>


<!-- Button info (including pop-up code, script, buttons) borrowed from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup_form-->

<!-- Question form stuff-->
<div class="form-question" id="button">
  <form class="form-container">
    <h5>Test Question</h5>
    <label for="ans"><b>Answer: </b></label>
    <input type="text" placeholder="Enter Answer" name="ans" required>
    <h5>
    <h5><button type="text" class="btn submit" onclick="checkAnswer()">Submit Answer</button></h5>
  </form>
</div>

<div class="form-correct" id="form-correct">
  <form class="form-container">
    <h5>PLAYERNAME answered correctly and gained $TEST!</h5>
  </form>
</div>

<div class="form-incorrect" id="form-incorrect">
  <form class="form-container">
    <h5>PLAYERNAME answered incorrectly and lost $TEST!</h5>
  </form>
</div>


<!-- Player form stuff -->
<div class="form-player1" id="player1">
  <form class="form-container">
    <label for="name"><b>Name: </b></label>
    <input type="text" placeholder="Enter Name" name="name" required>
    <h5>
    <h5>insert_money_variable_here</h5>
  </form>
</div>

<div class="form-player2" id="player2">
  <form class="form-container">
    <label for="name"><b>Name: </b></label>
    <input type="text" placeholder="Enter Name" name="name" required>
    <h5>
    <h5>insert_money_variable_here</h5>
  </form>
</div>

<div class="form-player3" id="player3">
  <form class="form-container">
    <label for="name"><b>Name: </b></label>
    <input type="text" placeholder="Enter Name" name="name" required>
    <h5>
    <h5>insert_money_variable_here</h5>
  </form>
</div>

<script>
var input
var correctans
correctans = "hrar";

function openForm() {
  document.getElementById("button").style.display = "block";
}

function closeForm() {
  document.getElementById("button").style.display = "none";
}

/* The stuff that happens when the play button is clicked */
function displayPlayers() {
  document.getElementById("player1").style.display = "block";
  document.getElementById("player2").style.display = "block";
  document.getElementById("player3").style.display = "block";
  document.getElementById("play-button").style.display = "none";
}

function checkAnswer() {
  correctans = "hrar";
  let input = document.getElementById("ansinput").value;
//  document.write(input)
//  document.write(correctans)
  if (input == correctans) {
    document.getElementById("form-correct").style.display = "block";
  } else {
    document.getElementById("form-incorrect").style.display = "block";
  }

}
</script>


<!-- This is the actual table -->

<table style="width:50%" class="center">
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td><button onclick="openForm()">$100</button></td>
      <td><button onclick="openForm()">$100</button></td>
      <td><button onclick="openForm()">$100</button></td>
      <td><button onclick="openForm()">$100</button></td>
      <td><button onclick="openForm()">$100</button></td>
    </tr>
    <tr>
        <td><button onclick="openForm()">$200</button></td>
        <td><button onclick="openForm()">$200</button></td>
        <td><button onclick="openForm()">$200</button></td>
        <td><button onclick="openForm()">$200</button></td>
        <td><button onclick="openForm()">$200</button></td>
      </tr>
      <tr>
        <td><button onclick="openForm()">$300</button></td>
        <td><button onclick="openForm()">$300</button></td>
        <td><button onclick="openForm()">$300</button></td>
        <td><button onclick="openForm()">$300</button></td>
        <td><button onclick="openForm()">$300</button></td>
      </tr>
      <tr>
        <td><button onclick="openForm()">$400</button></td>
        <td><button onclick="openForm()">$400</button></td>
        <td><button onclick="openForm()">$400</button></td>
        <td><button onclick="openForm()">$400</button></td>
        <td><button onclick="openForm()">$400</button></td>
      </tr>
      <tr>
        <td><button onclick="openForm()">$500</button></td>
        <td><button onclick="openForm()">$500</button></td>
        <td><button onclick="openForm()">$500</button></td>
        <td><button onclick="openForm()">$500</button></td>
        <td><button onclick="openForm()">$500</button></td>
      </tr>
  </table>


<!-- Play button stuff -->
<h1><button class="center" id="play-button" onclick="displayPlayers()">Play Now!</button></h1>

{% endblock %}

{% block background %}
{% endblock %}