<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid rgb(255, 255, 255);
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  background-color: #ffc0c0;
  display: block
}

#myMenu li a:hover {
  background-color: #e3aaaa;
}
</style>
</head>
<body>

<h2>Search Menu</h2>
<p>Start to type for a specific category inside the search bar to "filter" the search options.</p>

<div class="row">
  <div class="left" style="background-color:#898989;">
    <h2>Menu</h2>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
    <ul id="myMenu">
      <li><b>*******************</b></li>
      <li><b>All 30 NBA Teams</b></li>
      <li><b>BELOW!!!!!!</b></li>
      <li><b>*******************</b></li>
      <li><a href="https://www.basketball-reference.com/teams/ATL/">Atlanta Hawks</a></li>
      <li><a href="https://www.basketball-reference.com/teams/BOS/">Boston Celtics</a></li>
      <li><a href="https://www.basketball-reference.com/teams/NJN/">Brooklyn Nets</a></li>
      <li><a href="https://www.basketball-reference.com/teams/CHA/">Charlotte Hornets</a></li>
      <li><a href="https://www.basketball-reference.com/teams/CHI/">Chicago Bulls</a></li>
      <li><a href="https://www.basketball-reference.com/teams/CLE/">Cleveland Cavaliers</a></li>
      <li><a href="https://www.basketball-reference.com/teams/DAL/">Dallas Mavericks</a></li>
      <li><a href="https://www.basketball-reference.com/teams/DEN/">Denver Nuggets</a></li>
      <li><a href="https://www.basketball-reference.com/teams/DET/">Detroit Pistons</a></li>
      <li><a href="https://www.basketball-reference.com/teams/GSW/">Golden State Warriors</a></li>
      <li><a href="https://www.basketball-reference.com/teams/HOU/">Houston Rockets</a></li>
      <li><a href="https://www.basketball-reference.com/teams/IND/">Indiana Pacers</a></li>
      <li><a href="https://www.basketball-reference.com/teams/LAC/">Los Angeles Clippers</a></li>
      <li><a href="https://www.basketball-reference.com/teams/LAL/">Los Angeles Lakers</a></li>
      <li><a href="https://www.basketball-reference.com/teams/MEM/">Memphis Grizzlies</a></li>
      <li><a href="https://www.basketball-reference.com/teams/MIA/">Miami Heat</a></li>
      <li><a href="https://www.basketball-reference.com/teams/MIL/">Milwaukee Bucks</a></li>
      <li><a href="https://www.basketball-reference.com/teams/MIN/">Minnesota Timberwolves</a></li>
      <li><a href="https://www.basketball-reference.com/teams/NOH/">New Orleans Pelicans</a></li>
      <li><a href="https://www.basketball-reference.com/teams/NYK/">New York Knicks</a></li>
      <li><a href="https://www.basketball-reference.com/teams/OKC/">Oklahoma City Thunder</a></li>
      <li><a href="https://www.basketball-reference.com/teams/ORL/">Orlando Magic</a></li>
      <li><a href="https://www.basketball-reference.com/teams/PHI/">Philadelphia 76ers</a></li>
      <li><a href="https://www.basketball-reference.com/teams/PHO/">Phoenix Suns</a></li>
      <li><a href="https://www.basketball-reference.com/teams/POR/">Portland Trail Blazers</a></li>
      <li><a href="https://www.basketball-reference.com/teams/SAC/">Sacramento Kings</a></li>
      <li><a href="https://www.basketball-reference.com/teams/SAS/">San Antonio Spurs</a></li>
      <li><a href="https://www.basketball-reference.com/teams/TOR/">Toronto Raptors</a></li>
      <li><a href="https://www.basketball-reference.com/teams/UTA/">Utah Jazz</a></li>
      <li><a href="https://www.basketball-reference.com/teams/WAS/">Washington Wizards</a></li>
    </ul>
  </div>
  
  <div class="right" style="background-color:#6868ec;">
    <h2>Search for NBA Teams!</h2>
    <p>Type any team you please in the search bar. Then, click the option for the team.</p>
    <p>You will be able to see a lot of info about the team you pick.</p>
    <p>You can see the best players of all time for each team and the teams performance in all of history!</p>
    <p><b>Ideas to have fun with your friends and Family !!! :)</b></p>
    <p> 1. Have a trivia night using this site! </p>
    <p> 2. Use this data to form teams for an online basketball game </p>
    <p> 3. Bet money on who knows more! </p> 
    <p> 4. Scout and observe your guys favorite teams! </p>   
   <p><b>What data is available when you click on a team?</b></p>
   <p>1. 12 Best All time players</p>
   <p>2. Full stat line each season and leaders on the team that season</p>
   <p>3. Shows amount of wins and losses for the past few decades and their playoff performance</p>
   <p>4. Gives access to the careers of the best players on the team</p>
   <p><b>Enjoy this easy to use site that shows you everything you need to know for each NBA team!</b></p>  

  </div>
</div>

<script>
function myFunction() { 
  var input, filter, ul, li, a, i;
  input = document.getElementById("mySearch");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myMenu");
  li = ul.getElementsByTagName("li");
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

</body>
</html>